{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <div class="content-section col-sm">
			<legend class="border-bottom mb-4">
        <a href="addLocation">Add Location
        </a>
    </legend>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="content-section col-sm">
      <legend class="border-bottom mb-4">
        <a href="editLocation">Edit Location
        </a>
    </legend>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="content-section col-sm">
      <legend class="border-bottom mb-4">
        <a href="viewLocation">View Location
        </a>
    </legend>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
{% extends "layout.html" %}
